
.link {
display: block;
font-size: 16px;
    color: #4d4f5c;
width: 70px;
border: 1px solid black;
text-decoration: none;
border-radius: 3px;
padding: 10px 20px;
margin-top: 20px;
text-align: center;
transition: background-color 0.3s ease;
cursor: pointer;
}



.link:hover {
    background-color: rgb(138, 145, 151);
}

.title {
    margin-left: 20px;
}
.container {
    margin-left: 20px;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.infoBox {
    padding-top: 60px;
}
p {
    width: 600px;
}
.nav {
    padding-left: 40px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}