header {
    background-color: rgb(101, 102, 102);
}
.link {
    color: white;
    font-size: 26px;
    text-decoration: none;
}

.nav {
    display: flex;
    gap: 20px;
}

.active {
    color: black;
    text-decoration: underline;
}