header {
    padding: 20px 30px;
    border-bottom: 1px solid black;
}
.link {
    color: black;
    font-size: 26px;
    text-decoration: none;
}

.nav {
    display: flex;
    gap: 20px;
}

.active {
    color: rgb(255, 0, 0);
    text-decoration: underline;
}